footer
    .container.text-center
        p.pull-left
            | Made with 
            i.fa.fa-heart.pink
            | by 
            a(href='https://github.com/dan-zheng') Dan 
            | and 
            a(href='https://github.com/emmy917917') Emmy
            |.
        ul.pull-right.list-inline
            li(class=(title == 'Contact Us') ? 'active' : undefined)
                a(href='/contact') Contact Us
            li © 2016 Resume App 
