extends layout

block content
    body
      if(!user)
        div.contentHome.container-fluid
          h1.text-center Spend more time connecting and less time with papers
          h2.text-center A resume sharing web app that allows:
          div.row.descriptionSections
            div.studentDescriptionHome.col-md-6
              h2.text-center Students
              ul
                li To upload your resume and display your skills
                li To discover companies that fit your skillsets and interests
                li To find more information about companies and their hiring needs

            div.recruiterDescriptionHome.col-md-6
              h2.text-center Recruiter
              ul
                li To upload your company profile and career opportunities
                li To reach students who have similar skillsets to the job needs
                li To easily find matches to students based on resume information
       else
          div.contentHome.container-fluid
            div.row
              div.studentSection
                h1.text-center Welcome, #{user.profile.firstName}!
                h2.text-center Checkout your updated dashboard:
                div.studentDescriptionHome.col-md-6
                  h2.text-center You currently have {{2}} Company Matches
                  ul
                    li {{Company One}}
                    li {{Company Two}}
              div.recruiterSection
                div.recruiterDescriptionHome.col-md-6
                  h2.text-center Current Company Contacts:
                  ul
                    li {{Company Name}} {{Recruiter Name}}
