extends layout

block content
    body
        h1.text-center Resume sharing made easy
        div.contentHome.container-fluid
          div.row
            div.studentDescriptionHome.col-md-6
              h2.text-center Students
              ul
                li upload your resume and display your skills
                li discover companies that fit your skillsets and interests
                li find more information about companies and their hiring needs
            div.recruiterDescriptionHome.col-md-6
              h2.text-center Recruiters
              ul
                li upload your company profile and career opportunities
                li reach students who have similar skillsets to the job needs
                li easy access to student resume and profile
